{% extends 'base.html' %}

{% block content %}

    <h1> Добро пожаловать в удобный словарь табасаранского! </h1>
    <hr>
    <p>Для начала поиска выберите одну из функций выше </p>
    <h2>Табасаранский язык</h2>

<p><img src="https://raw.githubusercontent.com/AnastasiaDobrynina/py21project/main/LanguageMap_Dagestan.-Tabasaran.jpg" width='300px'  align='right' hspace='30px'>Табасаран чӀал — один из северо-восточных лезгинских языков дагестаноязычных народов, распространён среди табасаранов традиционно проживающих в Хивском и Табасаранском районах Дагестана.</p>
<p>
Общее число говорящих на табасаранском языке — 126 136 человек.</p>
<p>Письменность с 1928 года на латинской основе, с 1938 — на основе русского алфавита.</p>
<p>- <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%B1%D0%B0%D1%81%D0%B0%D1%80%D0%B0%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA">википедия</a></p>

<p>На нашем ресурсе Вы сможете найти переводы слов из словаря Анатолия Генко. Для поиска пользуйтесь кириллицей.</p>
<p></p>


{% endblock %}