{% extends 'base.html' %}

{% block content %}

<p><b> {{go_back}} </b></p>

<form action="/start_results" method="get">
    <p>Введите сочетание символов, с которых будет начинаться слово:</p>
    <p><input type = 'text' name = 'nm' ></p>
    <p><input type = 'submit' value = 'Найти' ></p>

</form>

{% for answer in answers %}

    <b><p>{{ answer }}:</p></b>
        {% for part in answers[answer].split(';') %}
            <p>{{part}}</p>
        {% endfor %}
    <hr>

{% endfor %}

{% endblock %}